<!DOCTYPE html>
<html>
<head>
    <title>登陆页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div>
    <form>
        <p>用户名:<input type="text" name="username"/></p>
        <p class="password">密码:<input type="password" name="password"/></p>
        <p class="btn">
            <button class="sub-btn">登录</button>
           <!-- <input class="sub-btn" type="submit" value="提交"/>-->
            <a  href="/register">注册</a>
        </p>

    </form>

</div>
</body>
</html>
