<!DOCTYPE html>
<html>
<head>
    <title>登陆页</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div>
    <form method="post" action="/register/do">
        <p>用户名:<input type="text" name="name"/></p>
        <p>邮箱:<input type="text" name="email"/></p>
        <p>密码:<input type="password" name="password"/></p>
        <p>确认密码:<input type="password" name="respassword"/></p>
        <input type="submit" value="提交"/>
    </form>

</div>
</body>
</html>
